.matExpansionPanel {
  margin: 0.8em 0.1em 0.1em 0.1em;
  width: 610px;
}

.my-mat-card {
  margin: 1em 0.5em 0.5em 0.5em;
  max-width: 574px;
}

.htmlEditor {
  margin: 0.5em 0 0.5em 0.8em;
}

.share-button {
  margin: 0.5em 0 0 0;
}

textarea {
  border: none;
  outline: none;
  margin: 0.5em 0 0.5em 0.8em;
}
