<div>
  <mat-toolbar color="foreground">
    <img
      routerLink="/"
      style="cursor: pointer;"
      src="../../assets//images/logo.png"
      class="logo"
    />
    <span class="blank-space"></span>
    <span>
      <button *ngIf="!authService.isAuthenticated()" mat-button>
        Please login to the system...
      </button>
      <span *ngIf="authService.isAuthenticated()">Welcome {{ userName }}</span>
      <button
        mat-button
        color="primary"
        *ngIf="authService.isAuthenticated()"
        (click)="logout()"
      >
        <mat-icon>lock</mat-icon>Logout
      </button>
    </span>
  </mat-toolbar>
  <mat-divider></mat-divider>
</div>
