<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    fixedTopGap="150"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="true"
  >
    <mat-nav-list>
      <mat-label>Groups</mat-label>
      <div *ngFor="let group of groups">
        <a mat-list-item (click)="viewPermissions(group.id)">{{ group.name }}</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
