<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    fixedTopGap="75"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="true"
  >
    <mat-toolbar>Administration</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item routerLink="company/">Company Setup</a> -->
      <a mat-list-item routerLink="reports/">Reports</a>
      <a mat-list-item routerLink="projects/">Projects</a>
      <a mat-list-item routerLink="locations/">Locations</a>
      <!-- <a mat-list-item routerLink="rights/">Rights Management</a> -->
      <!-- <a mat-list-item routerLink="config/">Configuration</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
