<h1 mat-dialog-title>{{ employee ? 'Edit employee' : 'Add new employee' }}</h1>
<div mat-dialog-content>
  <div>
    <img
      class="photo"
      *ngIf="!isCameraActive"
      [src]="
        EmployeeimageBlobUrl && employee
          ? EmployeeimageBlobUrl
          : '/assets/images/blank.png'
      "
      alt="Profile Picture"
    />
    <br />
    <video
      id="video"
      #video
      autoplay
      playsinline
      *ngIf="showCameraPreview"
    ></video>
    <canvas id="canvas" #canvas *ngIf="showCameraPreview"></canvas> <br />
    <br />
  </div>
  <div class="column">
    <form class="example-form" [formGroup]="employeeForm">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="First Name:"
          formControlName="inputFirstName"
          #inputFirstName
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Last Name:"
          formControlName="inputLastName"
          #inputLastName
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Personal ID:"
          formControlName="inputPersonalId"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Birth Date:"
          formControlName="inputBirthDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Mobile Phone:"
          formControlName="inputMobilePhone"
        />
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions>
  <button
    mat-flat-button
    type="button"
    [disabled]="!employeeForm.valid"
    color="primary"
    (click)="onSave()"
  >
    <mat-icon>save_alt</mat-icon>
  </button>
  <button
    mat-flat-button
    type="button"
    [disabled]="!employeeForm.valid"
    color="primary"
    (click)="takePhoto()"
  >
    <mat-icon>camera_alt</mat-icon>
  </button>
  <button
    mat-flat-button
    type="button"
    color="warn"
    (click)="onDelete()"
    *ngIf="employee"
  >
    <mat-icon>delete_outline</mat-icon>
  </button>
</div>
