<div class="container">
  <app-clock></app-clock>
  <a mat-raised-button (click)="takePhotoAndUploadToServer()"
    ><mat-icon>input</mat-icon><span>Check-In</span></a
  >&nbsp;&nbsp;
  <a mat-raised-button
    ><mat-icon>settings_power</mat-icon><span>Check-Out</span></a
  >
  <br />
  <mat-card class="photo" *ngIf="showCameraPreview">
    <video id="video" #video autoplay playsinline></video>
    <canvas id="canvas" #canvas></canvas> <br />
    <br />
  </mat-card>
  <br />
</div>
<br /><br /><br />
<div>
  <h3>Register Person Group</h3>
  <hr />
  <div>Person Group ID: <input type="text" name="personGroupId" #personGroupId /></div>
  <div>Person Group Name: <input type="text" name="personGroupName" #personGroupName /></div>
  <div>
    <button (click)="createPersonGroup(personGroupId, personGroupName)">
      Create
    </button>
    <button (click)="trainPersonGroup(personGroupId)">
      Train
    </button>
    <button (click)="checkPersonGroupTrainingStatus(personGroupId)">
      Check Training Status
    </button>
    <button (click)="deletePersonGroup(personGroupId)">
      Delete
    </button>
  </div>
</div>
<br /><br /><br />
<div>
  <h3>List Person Groups</h3>
  <hr />
  <button (click)="getPersonGroups()">List</button>
</div>
<br /><br /><br />
<div>
  <h3>List Persons of Person Groups</h3>
  <hr />
  <button (click)="getPersonsOfPersonGroup()">List</button>
</div>
<br /><br /><br />
<div>
  <h3>Add Person</h3>
  <hr />
  <input type="text" name="personName" #personName />
  <button (click)="takePhotoAndUploadToServer(personName)">Add Person</button>
</div>
<br /><br /><br />
<div>
  <h3>Detect Employee</h3>
  <hr />
  <button (click)="detectEmployee()">Detect</button>
</div>
