<mat-progress-bar mode="indeterminate" *ngIf="!showInput"></mat-progress-bar>
<div class="container content">
  <!-- <app-clock></app-clock> -->

  <button
    color="primary"
    id="checkIn"
    mat-raised-button
    class="largeIcons"
    (click)="detectEmployee('Check-In')"
  >
    <mat-icon class="largeIcons">check</mat-icon>
    <span>Check-In</span>
  </button>
  <button
    color="warn"
    id="checkOut"
    mat-raised-button
    class="largeIcons"
    (click)="detectEmployee('Check-Out')"
  >
    <mat-icon class="largeIcons">arrow_downward</mat-icon>
    <span>Check-Out</span>
  </button>
  <br />
  <br />
  <mat-form-field appearance="fill" *ngIf="showInput">
    <input
      class="employeeId"  
      matInput
      type="number"
      #employeeId
    />
    <mat-hint class="employeeId">Your ID</mat-hint>
  </mat-form-field>
  <br />
  <div fxLayout="row" fxLayoutAlign="center">
    <label *ngIf="showWelcome" class="largeIcons">Welcome</label>
    <label *ngIf="showGoodbye" class="largeIcons">Goodbye</label>
  </div>
  <mat-card class="photo" *ngIf="showCameraPreview">
    <video id="video" #video autoplay playsinline></video>
    <canvas id="canvas" #canvas></canvas> <br />
    <br />
  </mat-card>
  <br />
  <br />
</div>
