.square_button {
  //   border: 1px outset blue;
  //   background-color: lightBlue;
  height: 100px;
  width: 130px;
  margin: 0.5rem;
  cursor: pointer;
}

.login-buttons-card {
  max-width: 300px;
  margin: 10em auto;
  text-align: center;
}

.main-buttons-card {
  max-width: 600px;
  margin: 10em auto;
  text-align: center;
}

.signin-content {
  padding: 60px 1rem;
}

.full-width-input {
  width: 100%;
}

.largeIcons {
  font-size: 36px;
}
